/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-style{
    background-color: #050926db;
}
.icon-color{
    color: #ff5200;
    font-size: 23px;
    margin: 0px 7px;
}
/* input style */
.input-color {
    background-color: #d9d9d9;
    border: none;
    padding: 5px 16px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.save-input {
    width: 65px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #d9d9d9;
    font-weight: bold;
    margin-right: 15px; }
#denger, #no-amount, #expense{
    display: none;
}